@page "/receipts"

@* <h3>Receipts</h3>

@code {

} *@

@using SolforbTestTask.Client.Services
@using SolforbTestTask.Client.Extensions
@using DataContracts

<PageTitle>Поступления</PageTitle>

<RadzenStack Gap="1rem">
    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" AlignItems="AlignItems.Center">
        <RadzenButton Text="Добавить" Icon="add" Click="@CreateReceiptDocumentDialogBox" />
    </RadzenStack>

    <LocalizedDataGrid @ref=@grid
                       Data="@receipts" Count="@count" TItem="ReceiptDocumentDto" LoadData="@LoadData"
                       ColumnWidth="140px"
                       PagerAlwaysVisible="true"
                       LogicalFilterOperator="LogicalFilterOperator.And"
                       IsLoading="@isLoading"
                       AllowMultiColumnSorting="false"
                       PageSizeOptions="@pageSizeOptions"
                       ShowPagingSummary="true"
                       AllowFiltering="true" AllowSorting="true" AllowColumnResize="true"
                       AllowGrouping="true"
                       AllowColumnPicking="true"
                       AllowColumnReorder="true"
                       FilterMode="FilterMode.Advanced"
                       FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                       AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" PageSize="@pageSize">
        <HeaderTemplate>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem;" Wrap="FlexWrap.Wrap">
                @* <RadzenButton Icon="add" Click="@CreateOrder" MouseEnter="@(args => ShowTooltip(args, "Создать заказ"))" />  *@
                <RadzenButton Icon="refresh" Click="@(_ => grid.Reload())" MouseEnter="@(args => ShowTooltip(args, "Обновить данные"))" />
                <RadzenButton Icon="filter_alt_off" Click="@ResetFiltersAsync" MouseEnter="@(args => ShowTooltip(args, "Cбросить фильтры"))" />
            </RadzenStack>
        </HeaderTemplate>
        <PagingSummaryTemplate>
            Страница @context.CurrentPage из @context.NumberOfPages <b>(Всего @context.TotalCount записей)</b>
        </PagingSummaryTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="ReceiptDocumentDto" Property="Number" Title="Номер" FilterMode="FilterMode.CheckBoxList" />
            <RadzenDataGridColumn TItem="ReceiptDocumentDto" Property="Date" Title="Дата" />
            @* <RadzenDataGridColumn TItem="ReceiptDocumentDto" Property="Resource.Name" Title="Ресурс" />
            <RadzenDataGridColumn TItem="ReceiptDocumentDto" Property="Measurement.Name" Title="Единица измерения" />
            <RadzenDataGridColumn TItem="ReceiptDocumentDto" Property="Count" Title="Количество" /> *@
        </Columns>
    </LocalizedDataGrid>
</RadzenStack>
