@page "/receipts"

@using SolforbTestTask.Client.Services
@using SolforbTestTask.Client.Extensions
@using DataContracts

<PageTitle>Поступления</PageTitle>

<RadzenStack Gap="1rem">
    <RadzenStack Orientation="Orientation.Horizontal" Gap="1.5rem" AlignItems="AlignItems.Start" Style="flex-wrap: nowrap; overflow-x: auto; padding-bottom: 10px;">
        <!-- Блок периода -->
        <RadzenStack Gap="0.25rem" Style="min-width: 220px;">
            <RadzenLabel Text="Период" Style="font-weight: 500; margin-bottom: 4px; width: 100%; text-align: center;" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center">
                <RadzenDatePicker @bind-Value=@fromDate Style="width: 150px;" />
                <span>-</span>
                <RadzenDatePicker @bind-Value=@toDate Style="width: 150px;" />
            </RadzenStack>
        </RadzenStack>

        <!-- Фильтр по номерам документов -->
        <RadzenStack Gap="0.25rem" Style="min-width: 220px;">
            <RadzenLabel Text="Номера документов" Style="font-weight: 500; margin-bottom: 4px; text-align: center;" />
            <RadzenDropDown @bind-Value=@selectedDocumentNumbers
                            Data=@currentDocumentNumbers
                            AllowVirtualization="true"
                            Multiple=true
                            AllowClear=true
                            Placeholder="Все"
                            Chips=true
                            Style="width: 100%;">
            </RadzenDropDown>
        </RadzenStack>

        <!-- Фильтр по Ресурсам -->
        <RadzenStack Gap="0.25rem" Style="min-width: 220px;">
            <RadzenLabel Text="Ресурсы" Style="font-weight: 500; margin-bottom: 4px; text-align: center;" />
            <RadzenDropDown @bind-Value=@selectedResources
                            TextProperty="@nameof(ResourceDto.Name)"
                            ValueProperty="@nameof(ResourceDto.Id)"
                            Data=@currentResources
                            AllowVirtualization="true"
                            Multiple=true
                            AllowClear=true
                            Placeholder="Все"
                            Chips=true
                            Style="width: 100%;">
            </RadzenDropDown>
        </RadzenStack>

        <!-- Фильтр по Единицам измерения -->
        <RadzenStack Gap="0.25rem" Style="min-width: 220px;">
            <RadzenLabel Text="Единицы измерения" Style="font-weight: 500; margin-bottom: 4px; text-align: center;" />
            <RadzenDropDown @bind-Value=@selectedMeasurementIds
                            Data=@currentMeasurements
                            TextProperty="@nameof(MeasurementDto.Name)"
                            ValueProperty="@nameof(MeasurementDto.Id)"
                            AllowVirtualization="true"
                            Multiple=true
                            AllowClear=true
                            Placeholder="Все"
                            Chips=true
                            Style="width: 100%;">
            </RadzenDropDown>
        </RadzenStack>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" AlignItems="AlignItems.Center">
        <RadzenButton Text="Добавить" Icon="add" Click="@CreateReceiptDocumentDialogBox" />
        <RadzenButton Text="Применить" Icon="refresh" Click="@(_ => grid.Reload())" MouseEnter="@(args => ShowTooltip(args, "Обновить данные"))" />
        <RadzenButton Text="Сбросить фильтры" Disabled="@IsResetFiltersDisabled()" Icon="filter_alt_off" Click="@ResetFilters" MouseEnter="@(args => ShowTooltip(args, "Cбросить фильтры"))" />
    </RadzenStack>

    <LocalizedDataGrid @ref=@grid
                       Style="width:80%"
                       Data="@receipts" Count="@count" TItem="ReceiptDocumentItemDto" LoadData="@LoadData"
                       ColumnWidth="140px"
                       Render="@OnRender"
                       PagerAlwaysVisible="true"
                       LogicalFilterOperator="LogicalFilterOperator.And"
                       IsLoading="@isLoading"
                       AllowMultiColumnSorting="false"
                       PageSizeOptions="@pageSizeOptions"
                       ShowPagingSummary="true"
                       AllowFiltering="false" AllowSorting="false" AllowColumnResize="true"
                       AllowGrouping="false"
                       AllowColumnPicking="false"
                       AllowColumnReorder="false"
                       FilterMode="FilterMode.Advanced"
                       RowDoubleClick="OnRowDoubleClick"
                       FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                       AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" PageSize="@pageSize">
        <PagingSummaryTemplate>
            Страница @context.CurrentPage из @context.NumberOfPages <b>(Всего @context.TotalCount записей)</b>
        </PagingSummaryTemplate>
        <GroupHeaderTemplate >
            <div @ondblclick="@(async() => await OnGroupDoubleClick(context))">
                <b>Номер: @GetDocumentNumber(context) &nbsp;&nbsp;&nbsp;&nbsp;<br /> Дата: @GetDocumentDate(context)</b>
            </div>            
        </GroupHeaderTemplate>
        <Columns>
            @* <RadzenDataGridColumn TItem="ReceiptDocumentItemDto" Property="Number" Title="Номер" FilterMode="FilterMode.CheckBoxList" />
            <RadzenDataGridColumn TItem="ReceiptDocumentItemDto" Property="Date" Title="Дата" /> *@
            <RadzenDataGridColumn TItem="ReceiptDocumentItemDto" Property="ReceptItem.Resource.Name" Title="Ресурс" />
            <RadzenDataGridColumn TItem="ReceiptDocumentItemDto" Property="ReceptItem.Measurement.Name" Title="Единица измерения" />
            <RadzenDataGridColumn TItem="ReceiptDocumentItemDto" Property="ReceptItem.Count" Title="Количество" />
        </Columns>
    </LocalizedDataGrid>
</RadzenStack>
